$brand-color: #ac9eb5;
$brand-color-light: #ece1db;
$bg-nude: #edeee9;
$medium-gray: #a299b7 !default;
$dark-gray:  #2e272e !default;
$white: #fff;
$white-light: #ffffffb8;

$font-family-sans-serif: 'Montserrat', "Helvetica", Arial, sans-serif;
$font-family-rubik: 'Rubik';
$font-family-copse: 'Copse';