<div id="place-card">
  <div class="row align-items-center">
    <div class="col-md-8">
      <h3>{{place.name}}</h3>
      <div>
        {{place.description}}
      </div>
      <div>
        <i class="fa fa-map-marker"></i>
        <span>{{place.address}}</span>
      </div>
      <div>
        <i class="fa fa-clock-o"></i>
        <span>{{place.openHours}}</span>
      </div>
    </div>
    <div class="col-md-4 text-right">
      <img [src]="place.photoURL" alt="{{place.name}}">
    </div>
  </div>
</div>